body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f9;
    background: url(backacti.jpg);
    
}

header {
    background: #3f8964;
    color: white;
    padding: 25px;
    text-align: center;
}

.container {
    max-width: 1150px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
}

.card img {
    width: 100%;
    height: 165px;
    object-fit: cover;
}

.content {
    padding: 15px;
}

h3 {
    margin: 0;
    font-size: 18px;
    color: #0d47a1;
}

p {
    color: #333;
    font-size: 14px;
    margin-top: 8px;
}